#header{
    background-color: rgba(3, 3, 8, 0.75);
    height: 100%;
    width: 100%;
}

#header img{
    padding: 5px 5px 5px 5px;
}
#logout{
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}

.menu-button{
    display: inline-block;
    position: relative;
    margin-left: 10px;
}