<div class="newAssessment">
    <form class="view" #createform="ngForm" (ngSubmit)="createform.valid && onSubmit()">
        <div class="mat-elevation-z8">
            <h2>Assessment Details</h2>
            <table>
                <tr>
                    <td class="detail-desc">Assessment Id :</td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label for="Assessment_id">Assessment Id :</mat-label>
                            <input matInput id="Assessment_id" name="assessment_id" [(ngModel)]="data.assessmentId" required>
                        </mat-form-field>
                    </td>
                    <td class="detail-desc">Assessment Name : </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label for="Assessment_name">Assessment Name :</mat-label>
                            <input matInput id="Assessment_name" name="assessment_name" [(ngModel)]="data.assessmentName" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="detail-desc">Assessment Type :</td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label for="select_type">Assessment Type</mat-label>
                            <mat-select id="select_type" name="assessment_type" (ngModelChange)="onAssessmentTypeChange($event)" [(ngModel)]="data.assessmentType" required>
                                <mat-option value="null">---</mat-option>
                                <mat-option *ngFor="let type of assessmentType" value="{{type}}">{{type}}</mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </td>
                    <td class="detail-desc">Course :</td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label for="select_course">Course </mat-label>
                            <mat-select id="select_course" name="course_id" (ngModelChange)="onCourseidChange($event)" [(ngModel)]="data.courseId" required>
                                <mat-option value="null">---</mat-option>
                                <mat-option *ngFor="let course of courses" value="{{course.courseId}}">{{course.courseName}}</mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </td>
                </tr>
                <tr>
                    <td class="detail-desc">Weightage <span *ngIf='valueAssessmentType=="Project"'>Build</span> %:</td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label for="weightage1">Weightage <span *ngIf='valueAssessmentType=="Project"'>Build</span></mat-label>
                            <input matInput id="weightage1" name="weightage1" type="number" [(ngModel)]="data.weightage1">
                        </mat-form-field>
                    </td>
                    <td class="detail-desc" *ngIf="valueAssessmentType=='Project'" >Weightage Process %:</td>
                    <td *ngIf="valueAssessmentType=='Project'">
                        <mat-form-field appearance="outline">
                            <mat-label for="weightage1">Weightage Process</mat-label>
                            <input matInput id="weightage2" name="weightage2" type="number" [(ngModel)]="data.weightage2">
                        </mat-form-field>
                    </td>
                    <td class="detail-desc" *ngIf="valueAssessmentType=='Project'">Weightage Test %:</td>
                    <td *ngIf="valueAssessmentType=='Project'">
                        <mat-form-field appearance="outline">
                            <mat-label for="weightage1">Weightage Test</mat-label>
                            <input matInput id="weightage3" name="weightage3" type="number" [(ngModel)]="data.weightage3">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <button mat-raised-button color="accent" id="sub">Create</button>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="mat-elevation-z8">
            <mat-accordion>
                    <h2>Course Details</h2>
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                                    <table>
                                            <tr>
                                                <td class="detail-desc">Course Name : </td>
                                                <td colspan="3" class="detail-data">  {{coursedata.courseName}} </td>
                                        </tr>
                                    </table>
                        </mat-expansion-panel-header>
                        <table>
                            <tr>
                                <td class="detail-desc">Course Description :</td>
                                <td colspan="3" class="detail-data"> {{coursedata.courseDesc}}</td>
                            </tr>
                            <tr>
                                <td class="detail-desc">Trainer Id :</td>
                                <td class="detail-data">{{coursedata.trainerId}}</td>
                                <td class="detail-desc">Trainer name :</td>
                                <td class="detail-data">{{coursedata.trainerName}}</td>
                            </tr>
                            <tr>
                                <td class="detail-desc">Skill :</td>
                                <td class="detail-data">{{coursedata.skills}}</td>
                                <td class="detail-desc">Prerequisite :</td>
                                <td class="detail-data">{{coursedata.prerequisite}}</td>
                            </tr>
                        </table>
                    </mat-expansion-panel>
            </mat-accordion>
        </div>
        <br>
        <br>
        <div class="mat-elevation-z8 bottom-space">
                <h2>Trainee Details</h2>
                <table mat-table [dataSource]="dataSource" >
            
                    <ng-container matColumnDef="traineeId">
                        <th mat-header-cell *matHeaderCellDef> Trainee Id  </th>
                        <td mat-cell *matCellDef="let element"> {{element.traineeId}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="traineeName">
                        <th mat-header-cell *matHeaderCellDef> Trainee Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.traineeName}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="percentage1">
                        <th mat-header-cell *matHeaderCellDef> Percentage <span *ngIf='valueAssessmentType=="Project"'>Build </span>(%) </th>
                        <td mat-cell *matCellDef="let element; let i=index"> 
                            <mat-form-field appearance="outline">
                                    <input matInput name="{{i}}_percentage1" type="number" [(ngModel)]="element.percentage1">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    
                    <ng-container *ngIf='valueAssessmentType=="Project"' matColumnDef="percentage2">
                        <th mat-header-cell *matHeaderCellDef> Percentage Process (%) </th>
                        <td mat-cell *matCellDef="let element let i=index"> 
                            <mat-form-field appearance="outline">
                                        <input matInput name="{{i}}_percentage2" type="number" [(ngModel)]="element.percentage2">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container *ngIf='valueAssessmentType=="Project"' matColumnDef="percentage3">
                            <th mat-header-cell *matHeaderCellDef> Percentage Test (%) </th>
                            <td mat-cell *matCellDef="let element let i=index"> 
                                    <mat-form-field appearance="outline">
                                                <input matInput name="{{i}}_percentage3" type="number" [(ngModel)]="element.percentage3">
                                    </mat-form-field>
                            </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>      
            <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
        </div>
    </form>
</div>