.view{
    background-color: azure;
}
#sub{
    display: inline-block;
    text-align: center;
    margin: auto;
    color:#636363;
}
.select{
    width: 160px;
}
td{
    width: 160px;
}
input{
    width: 160px;
}

td{
    width: 150px;
}
h2{
    padding-top: 10px;
    text-align: center;
    color:#636363;
}
.mat-expansion-panel-header{
    width: 97%;
}
table{
    margin:auto;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.detail-desc{
    font-style: oblique;
    font-weight: 900;
}
.detail-data{
    font-style: italic;
    color:#636363;
    border-bottom: 1px dashed rgb(57, 153, 132);
}
.detail-data-span{
    display: block;
    font-style: italic;
    color:#636363;
    border-bottom: 1px dashed rgb(57, 153, 132);
    width: 100%;
}
th{
    background-color: #673ab7;
    color: #f5f5f5;
    font-weight: 900;
}
.mat-header-cell{
    text-align: center;
    font-size: 15px;
    padding: 0px;
}

.bottom-space{
    margin-bottom:100px;
}

.newAssessment{
    margin: auto;
    height: 90%;
    justify-content: center;
    text-align: center;
}
