<div class="loginDiv">
    <div id="text">
    <div>
        <h2>Accolite University Portal</h2>
    </div>
    <div class="google-btn">
        <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        </div>
        <p class="btn-text" (click)="signInWithGoogle()" ><b>Sign in with google</b></p>
    </div>
  <p>{{errorlog}}</p>
    <!-- s 
    <button *ngIf="loggedIn" (click)="signOut()">sign out</button>
    <button *ngIf="loggedIn" (click)="putOnConsole()">check user on console</button>
    </div>
-->
</div>
