.view{
    margin-top:20px;
    background-color: azure;
}

h2{
    padding-top: 10px;
    text-align: center;
    color:#636363;
}
.view select{
    width:100px;
}

td{
    width: 150px;
}

#sub{
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-left: 50px;
    color:#636363;
}
.mat-expansion-panel-header{
    width: 97%;
}
table{
    margin:auto;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.detail-desc{
    font-style: oblique;
    font-weight: 900;
}
.detail-data{
    font-style: italic;
    color:#636363;
    border-bottom: 1px dashed rgb(57, 153, 132);
}
th{
    background-color: #673ab7;
    color: #f5f5f5;
    font-weight: 900;
}
.mat-header-cell{
    text-align: center;
    font-size: 15px;
    padding: 0px;
}

.bottom-space{
    margin-bottom:100px;
}

.courseData{
    margin: auto;
    height: 92%;
    justify-content: center;
    text-align: center;
}