<div class="viewAssessment">
    <div class="mat-elevation-z8">
        <mat-accordion>
            <h2>Assessment Details</h2>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                            <table>
                                    <tr>
                                        <td class="detail-desc">Assessment Name : </td>
                                        <td colspan="3" class="detail-data">  {{data.assessmentName}} </td>
                                </tr>
                            </table>
                </mat-expansion-panel-header>
                <table>
                        <tr>
                            <td class="detail-desc">Assessment Type :</td>
                            <td class="detail-data">{{data.assessmentType}}</td>
                            <td class="detail-desc">Weightage <span *ngIf='data.assessmentType=="Project"'>Build</span> %:</td>
                            <td class="detail-data">{{data.weightage1}}</td>
                        </tr>
                        <tr *ngIf="data.assessmentType=='Project'">
                            <td class="detail-desc">Weightage Process %:</td>
                            <td class="detail-data">{{data.weightage2}}</td>
                            <td class="detail-desc">Weightage Test %:</td>
                            <td class="detail-data">{{data.weightage3}}</td>
                        </tr>
                        <br *ngIf="userType=='trainer'">
                        <tr *ngIf="userType=='trainer'">
                            <td></td>
                            <td>
                                <a mat-raised-button color="accent" (click)="onUpdate()">Edit</a>
                            </td>
                            <td>
                                <a mat-raised-button color="warn" (click)="onDelete()">Delete</a>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
        </mat-accordion>
    </div>
    <br>
    <br>
    <div class="mat-elevation-z8">
        <mat-accordion>
                <h2>Course Details</h2>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                                <table>
                                        <tr>
                                            <td class="detail-desc">Course Name : </td>
                                            <td colspan="3" class="detail-data">  {{coursedata.courseName}} </td>
                                    </tr>
                                </table>
                    </mat-expansion-panel-header>
                    <table>
                        <tr>
                            <td class="detail-desc">Course Description :</td>
                            <td colspan="3" class="detail-data"> {{coursedata.courseDesc}}</td>
                        </tr>
                        <tr>
                            <td class="detail-desc">Trainer Id :</td>
                            <td class="detail-data">{{coursedata.trainerId}}</td>
                            <td class="detail-desc">Trainer name :</td>
                            <td class="detail-data">{{coursedata.trainerName}}</td>
                        </tr>
                        <tr>
                            <td class="detail-desc">Skill :</td>
                            <td class="detail-data">{{coursedata.skills}}</td>
                            <td class="detail-desc">Prerequisite :</td>
                            <td class="detail-data">{{coursedata.prerequisite}}</td>
                        </tr>
                    </table>
                </mat-expansion-panel>
        </mat-accordion>
    </div>
    <br>
    <br>
    <div class="mat-elevation-z8 bottom-space">
            <h2>Trainee Details</h2>
            <table mat-table [dataSource]="dataSource" >
        
                <ng-container matColumnDef="traineeId">
                    <th mat-header-cell *matHeaderCellDef> Trainee Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.traineeId}} </td>
                </ng-container>
                
                <ng-container matColumnDef="traineeName">
                    <th mat-header-cell *matHeaderCellDef> Trainee Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.traineeName}} </td>
                </ng-container>
                
                <ng-container matColumnDef="percentage1">
                    <th mat-header-cell *matHeaderCellDef> Percentage <span *ngIf="data.assessmentType=='Project'">Build </span>(%) </th>
                    <td mat-cell *matCellDef="let element"> {{element.percentage1}} </td>
                </ng-container>
                
                <ng-container *ngIf="data.assessmentType=='Project'" matColumnDef="percentage2">
                    <th mat-header-cell *matHeaderCellDef> Percentage Process (%) </th>
                    <td mat-cell *matCellDef="let element"> {{element.percentage2}} </td>
                </ng-container>

                <ng-container *ngIf="data.assessmentType=='Project'" matColumnDef="percentage3">
                        <th mat-header-cell *matHeaderCellDef> Percentage Test (%) </th>
                        <td mat-cell *matCellDef="let element"> {{element.percentage3}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>      
        <mat-paginator [pageSizeOptions]="[1, 2, 10]" showFirstLastButtons></mat-paginator>
    </div>
</div>