div{
    margin: auto;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    display: flex;
    height: 90%;
    text-align: center;
}
img{
    height: 200px;
    width: 300px;
}
h1{
    color: rgb(38, 38, 167);
}
.name{
    color: crimson;
}
.welcome-card{
    background-color: #b3c1ff; 
    border-radius: 40px;
    border: 5px ridge rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);
}